.root {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;

    padding: 0 2rem;
    line-height: 2;
    margin: 0 auto;

    justify-content: space-evenly;
    max-width: 90vw;
    margin-bottom: 3rem;
}
